<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
  <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZINDERUDEV;initial catalog=MUHASEBE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->
  <!--<connectionStrings>
    <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZINDESERVERDEN;initial catalog=MUHASEBE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=D:\tuba\Tuba\bin\Muhasebe.sio;Password=13de13&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
        <bindings>
              <netTcpBinding>
                    <binding name="ZindeService" />
              </netTcpBinding>
        </bindings>
        <client>
              <endpoint address="net.tcp://localhost:3014/ActionService" binding="netTcpBinding"
                    bindingConfiguration="ZindeService" contract="ZindeServiceReference.IZindeService"
                    name="ZindeService">
                    <identity>
                          <userPrincipalName value="ZINDESERVERDEN\muratonur" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>
