<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <log4net>


    <logger name="AnaEkran">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="ZindeService">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="ServerUygulamasi">
      <appender-ref ref="UdpAppender" />
    </logger>


    <logger name="DataObjects.EntityTBL_BANKA">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_BANKA_BAKIYE">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_DEPO">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_DEPO_ISLEM">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_DEPO_TRANSFER">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_FATURA">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_FATURA_TURU">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_FIS">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_GIDER">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_GIDER_BAKIYE">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_KASA">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_KASA_BAKIYE">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_KDV">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_ODEME">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_ODEME_TIPI">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_ODEME_TURU">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_PARA_TIPI">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_PERSONEL">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SIRKET">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SIRKET_BAKIYE">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SIRKET_GRUB">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SIRKET_SINIF">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SIRKET_TIPI">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SPARIS">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_SPARIS_TURU">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN_BIRIM">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN_CINSI">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN_MARKA">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN_STOK">
      <appender-ref ref="UdpAppender" />
    </logger>

    <logger name="DataObjects.EntityTBL_URUN_TIPI">
      <appender-ref ref="UdpAppender" />
    </logger>





    <root>
      <level value="ALL" />
     <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="UdpAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log" />
      <staticLogFileName value="false"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=" yyyy-MM-dd&quot;.xml&quot;"/>
      <layout type="Logging.Log4netXmlLayout">
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="Logging.MssqlAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Dynamic" />
      <commandText value="INSERT INTO ApplicationLog ([Date],[Level],[Logger],[Host],[Message],[Exception]) VALUES (@log_date, @log_level, @logger, @host, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@host" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{host}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="8080" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net" />
    </appender>

  </log4net>






</configuration>